<!DOCTYPE html>

<!--/* Note the xmlns:* here are completely optional and only meant to     */-->
<!--/* avoid IDEs from complaining about tags/attributes they may not know */-->
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:score="http://thymeleafexamples">

<head>
<title>COVID19 Tracker</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/extrathyme.css" th:href="@{/css/extrathyme.css}" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

</head>

<body>
	<div class="container">
		<div class="container" align="center">
			<h1>COVID19 LATEST REPORT</h1>
			<div class="font-italic">This application lists the latest
				reported COVID19 across the globe. Reports are updated frequently
				once a day</div>
		</div>
		<hr />

		<div class="jumbotron jumbotron-fluid mt-4">
			<div class="container">
				<div class="row">
					<div class="col-3 text-center">
						<h1 class="display-4" th:text="${totalCases}"></h1>
						<p class="lead">Total reported cases</p>
					</div>
					<div class="col-3 text-center">
						<h1 class="display-4" th:text="${totalDiff}"></h1>
						<p class="lead">
							New cases in <span th:text="${date}"></span>
						</p>
					</div>
					<div class="col-3 text-center">
						<h1 class="display-4" th:text="${totalDeaths}"></h1>
						<p class="lead">Total Deaths</p>
					</div>
					<div class="col-3 text-center">
						<h1 class="display-4" th:text="${totalRecovers}"></h1>
						<p class="lead">Total Recovered Cases</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<table class="table mt-5">
				<thead>
					<tr>
						<th>Country/Region</th>
						<th>Province/State</th>
						<th>Total Cases</th>
						<th>Changes(+-)</th>
						<th>Total Recovered</th>
						<th>Total Deaths</th>

					</tr>
				</thead>
				<tbody>
					<tr th:each="item : ${list}">
						<td th:text="${item.country}"></td>
						<td th:text="${item.state}"></td>
						<td th:text="${item.totalCases}"></td>
						<td th:text="${item.diff}"></td>
						<td th:text="${item.totalRecovered}"></td>
						<td th:text="${item.totalDeaths}"></td>
					</tr>

				</tbody>
			</table>
		</div>
	</div>
</body>

</html>